src/main/resources/jibx/nonamespace.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="student">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="xs:string" name="address" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:int" use="required" name="age"/>
  </xs:complexType>
  <xs:element type="student" name="student"/>
</xs:schema>